.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}

.text {
    width: 620px;
    padding: 50px;
    background-color: #E7FAFE;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

    h2 {
        font-size: 64px;
        font-weight: 600;
        line-height: 100%;
        margin-bottom: 24px;
    }

    >p {
        color: #00000099;
        line-height: 28px;
        margin-bottom: 30px;
    }

    >button {
        display: inline-flex;
        align-items: center;
        gap: 10px;
        
    }
}

.hot {
    width: 156px;
    padding: 11px 20px;
    display: flex;
    gap: 13px;
    border-radius: 30px;
    background-color: white;
    margin-bottom: 32px;
}


.user {
    display: flex;
    gap: 20px;
    align-items: center;
}

.textFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    
}

.img {
    width: 660px;
    height: 665px;

    img {
        width: 100%;
    }
}

